/* Base styles */
.landing-page {
  width: 100%;
  overflow-x: hidden;
  padding: 4rem 1rem; /* Adding some padding for smaller screens */
}

.landing-div {
  opacity: 0;
  min-height: 500px;
  transition: opacity 1s ease-out, transform 1s ease-out;
  background: radial-gradient(circle, #6dc6ff, #4b8ee6);
  margin: 2rem auto; /* Centering divs */
  padding: 20px;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column; /* Stacking content vertically on smaller screens */
  gap: 2rem;
  max-width: 1200px; /* Limiting max width for larger screens */
  width: 100%;
}

.landing-div:nth-child(odd) {
  transform: translateX(-100%);
}

.landing-div:nth-child(even) {
  transform: translateX(100%);
}

.landing-div.visible {
  opacity: 1;
  transform: translateX(0);
}

.left-content,
.right-content {
  flex: 1;
  width: 100%;
}

.left-content h2 {
  font-size: 2rem; /* Reduced font size for better responsiveness */
  font-weight: bold;
  margin-bottom: 10px;
}

.left-content p {
  font-size: 1.25rem; /* Reduced font size for better responsiveness */
  margin-bottom: 10px;
}

.left-content ul {
  margin-bottom: 20px;
}

.left-content ul li {
  margin-left: 2rem;
  list-style-type: disc;
  font-size: 1rem; /* Reduced font size for better responsiveness */
}

.left-content button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem; /* Reduced font size for better responsiveness */
  cursor: pointer;
  background-color: #226597;
}

.left-content button:hover {
  background-color: #4b8ee6;
  border: 1px solid #226597;
}

.right-content img {
  margin-top: 4%;
  width: 100%;
  border-radius: 8px;
  height: 90%;
  box-shadow: rgb(243, 239, 239) 0px 10px 36px 0px,
    rgba(239, 234, 234, 0.956) 0px 0px 0px 1px;
}

/* Media Queries */
@media (min-width: 768px) {
  .landing-div {
    flex-direction: row;
    padding: 2rem;
  }

  .left-content {
    padding-right: 20px;
  }
}

@media (min-width: 1024px) {
  .landing-div {
    flex-direction: row;
    padding: 2rem;
    height: 400px; /* Adjusting height for larger screens */
  }

  .left-content h2 {
    font-size: 2.5rem; /* Increased font size for larger screens */
  }

  .left-content p {
    font-size: 1.5rem; /* Increased font size for larger screens */
  }

  .left-content ul li {
    font-size: 1.25rem; /* Increased font size for larger screens */
  }

  .left-content button {
    font-size: 1.25rem; /* Increased font size for larger screens */
  }
}
