.leftBox,
.rightBox {
  width: 50%;
  height: 100%;
  position: absolute;
  transition: transform 0.5s ease-in-out;
}

.leftBox {
  /* background: linear-gradient(to top, #2c3e50, #2980b9); */
  background-image: url("../../assets/grad.jpg");
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  /* -webkit-filter: blur(8px); */
}

.rightBox {
  background-image: url("../../assets/grad.jpg");
  /* background: linear-gradient(to top, #34495e, #3498db); */
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  /* -webkit-filter: blur(8px); */
}

.moveLeft {
  transform: translateX(-100%);
}

.moveRight {
  transform: translateX(100%);
}

.box {
  width: 100px;
  height: 100px;
  animation: grow 2s forwards;
  animation-delay: 1s;
  background: rgba(0, 0, 0, 0.75);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  box-shadow: whitesmoke 1px 1px 3px;
}

.box input,
.box button {
  width: 85%;
  margin: 5px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
}

.box input {
  background: #ecf0f1;
}

.box button {
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.box button:hover {
  background: #6495ed;
}

.box img {
  width: 50px;
  margin-bottom: 10px;
}

@keyframes grow {
  to {
    width: 300px;
    height: 400px;
    transform: rotate(360deg);
  }
}

.text-red-500 {
  color: #e74c3c;
}
